.nav {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}
.nav h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font: 60px;
}
.nav ul{
  display: flex;
  gap: 50px;
  list-style: none;
}
.nav ul li:hover{
  color: red;
  transform: scale(1.15);
  cursor: pointer;
}
.nav ul li {
  font-size: 18px;
}

@media all and (max-width: 800px){

  .nav{
    flex-direction: column;
  }

  .nav h1{
    border-bottom: 2px solid white;
    padding-bottom: 25px;
  }

}